/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --bg: 255 255 255; --fg: 20 23 28; }
.dark { --bg: 17 17 19; --fg: 240 240 244; }
html, body { background-color: rgb(var(--bg)); color: rgb(var(--fg)); }

.hero-vignette::after {
  content: "";
  position: absolute; inset: 0; pointer-events: none;
  box-shadow: inset 0 0 160px rgba(0,0,0,.6);
}

